*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background-image: url("https://www.hdwallpapers.in/download/bridge_of_alexander_with_lights_france_paris_with_background_of_clouds_and_sky_4k_5k_hd_travel-HD.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  width: 850px;
  height: 610px;
  margin: 3% auto;
  background: none;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
h3{
  text-align: center;
  margin-bottom: 40px;
  color: #777;
}
.container form{
  width: 400px;
  position: absolute;
  top: 130px;
  left: 210px;
  transition: 0.5s;
}
form input{
  width: 85%;
  padding: 13px 5px;
  margin: 10px 30px;
  border: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.input-group-prepend{
  background-color: rgba(139, 130, 130, 0.841);
  width: 200px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  color: white;
}

.input-group-append{
  background-color: rgba(139, 130, 130, 0.841);
  width: 50px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  color: white;
}

::placeholder{
  color: #777;
}
.container .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 110%;
  margin: 11px 0;
  position: relative;
}

.form-control{
  color: white;
  font-weight: bold;
}

.container .top-row .btn-box1{
  width: 205px;
  margin-left: -45px;
  padding-left: 20px;
  text-align: center;
}
.container .top-row .btn-box1 button{
  width: 150px;
  height: 38px;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.342);
  border-radius: 6px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.container .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 20px;
}

.container .login-text,
.container .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.btn-box{
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button{
  width: 250px;
  height: 38px;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.648);
  border-radius: 6px;
  border: 0;
  outline: none;
  color: black;
  cursor: pointer;
}

.container label{
  color: #5b13b9;
  cursor: pointer;
}
.container label:hover{
  text-decoration: underline;
}

#Form1{
  left: -850px;
  top: 170px;
}

.top-row{
  width: 855px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.text-big{
  padding: 0;
  margin-top: -10px;
  justify-content: center;
  font-family: cursive;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.759);
  text-shadow: 2 0px 15px 10px #7d2ae8;
  font-size: 53px;
}
.step-row{
  width: 500px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.step-col{
  width: 500px;
  font-size: 24px;
  text-align: center;
  color: white;
  position: relative;
}
#progress{
  position: absolute;
  text-align: center;
  height: 100%;
  width: 500px;
  background: rgb(212, 207, 207);
  transition: 0.1s;
  border-radius: 5px;
}